<%- include ('partials/_header') %>

</div>
<div class="card">
    <p>Ich habe 32 Jahre gebraucht, um Sie zu finden, und ich habe immer noch die Aufgabe, Sie zu erreichen. Ich konnte einfach nicht anders, als mich in jedes Detail zu verlieben, das ich sah.</p>
    <p>Du bist eine wunderbare, schöne, einzigartige Frau, die ihr Herz und ihre Seele für das gibt, was sie will. Dass er eines der schönsten Lächeln hat, das ich je gesehen habe, mit seinen besonderen Grübchen.</p>
    <p>Ehrlich gesagt würde ich nichts an dir ändern, du bist wunderschön und perfekt so wie du bist. Immer auf der Suche nach mehr, etwas Besserem, um zu wachsen. Du scheinst mir brillant zu sein und ich weiß das sehr zu schätzen.</p>
    <p>Jeden Tag verstricke ich mich mehr in dich, jeden Tag liebe ich dich mehr, und es ist schwer zu ertragen, dich so weit weg zu haben, dich nicht berühren zu können, dich nicht sehen zu können, dich nicht küssen zu können.</p>
    <p>Ich möchte dich glücklich machen, dir die Liebe geben, die du verdienst, ich möchte, dass du fühlst, dass jeder Tag ein Traum ist, dass du jeden Tag weißt, wie sehr ich dich liebe. Ich werde niemals gehen, ohne dir vorher zu sagen, dass du die Liebe meines Lebens bist und wie schön du bist.</p>
</div>

<%- include ('partials/_footer') %>