<%- include ('partials/_header') %>


    <div class="cuerpo">
        <div class="grid-item">
            <a href="de/"><img class="flags" src="./image/Daco_4567138.png"></a>
        </div>
        <div class="grid-item">
            
        </div>
        <div class="grid-item">
            <a href="sp/"><img class="flags" src="./image/Daco_2575798.png"></a>
        </div>
    </div>
</div>
<%- include ('partials/_footer') %>