<%- include ('partials/_header') %>
</div>
<div class="card">
    <p>32 años he tardado en encontrarte, y aun me queda la tarea de llegar hasta ti. Simplemente no pude evitar enamorarme de cada detalle que vi.</p>
    <p>Eres una mujer maravillosa, hermosa, única, que entrega el corazón y el alma por lo que quiere. Que tiene una de las sonrisas mas bellas que he visto, con sus hoyuelos especiales.</p>
    <p>Sinceramente no cambiaría nada en ti, eres hermosa y perfecta tal cual eres. Siempre en busca de más, de algo mejor, de crecer. Me pareces brillante y lo valoro muchisimo.</p>
    <p>Cada día estoy mas enredado en ti, cada dia te quiero mas, y es dificil soportar tenerte tan lejos, no poder tocarte, no poder verte, no poder besarte.</p>
    <p>Quiero hacerte feliz, darte el amor que te mereces, quiero que sientas que cada día es un sueño, que cada día sepas cuanto te amo. Nunca me apartaré sin antes decirte que eres el amor de mi vida y cuan hermosa eres.</p>
</div>
<%- include ('partials/_footer') %>