/*******************     RESET STYLE     *******************/
html, body, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: inherit;
}

/***********   CUSTOM STYLE   ***********/

html {
    height: 100%;
}

body {
    font-family: 'Hurricane', cursive;
    background: url(../image/1944021.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: inherit;
}

header {
    background: url(../image/banner-g3116cf471_1920.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
}

h1 {
    font-size: 12em;
}

.container {
    margin: 0 auto;
}

.cuerpo {
    height: inherit;
    background-color: transparent;
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
  }

.flags {
    width: 10em;
    height: auto;
}

.card {
    border-radius: 1em;
    width: 70%;
    padding: 1em;
    margin: 2em auto;
    background-color: rgba( 255, 255, 255, 0.1);
}

p {
    font-size: 5em;
}

@media only screen and (max-width: 750px) {
    h1 {
        font-size: 8em;
    }

    .flags {
        width: 7em;
        height: auto;
    }
}

@media only screen and (max-width: 550px) {
    h1 {
        font-size: 4em;
    }

    .flags {
        width: 4em;
        height: auto;
    }
}